.App {
	text-align: center;
}

.sectionContainer {
	width: 100vw;
	min-height: calc(100vh - 86px);
	height: auto;
	padding: 0px 10vw;
	box-sizing: border-box;
}

@media (max-width: 800px) {
	.sectionContainer {
		padding: 0px 4.4vw 8vh 4.4vw;
	}
}
