.fc-today {
	background-color: rgba(255, 255, 255, 0.2) !important;
}

.fc-day {
	border-color: rgba(255, 255, 255, 0.4) !important;
}

.fc-head-container {
	border-color: rgba(255, 255, 255, 0.4) !important;
}

.fc-day-header {
	border-color: rgba(255, 255, 255, 0.2) !important;
}

.fc-widget-content {
	border-color: rgba(255, 255, 255, 0.2) !important;
}

.fc-content {
	white-space: normal !important;
}

.calendar-description {
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.2);
	font-weight: 300;
	font-size: 0.8em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	padding: 0.2em 0.3em;
}

.boot {
	background-color: white;
	width: 300px;
	height: 450px;
}

@media (max-width: 650px) {
	.fc-title {
		font-size: 0.8em;
	}
}
