body {
	margin: 0;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
	transition: opacity 0.1s ease-out;
}

a:hover {
	opacity: 0.65;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;

	background: #1b2834; /* Old browsers */
	background: -moz-linear-gradient(left, #1b2834 44%, #12171d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1b2834 44%, #12171d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		#1b2834 44%,
		#12171d 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2834', endColorstr='#12171d',GradientType=1 ); /* IE6-9 */
}
